p {
    background-color: lavenderblush;
    padding: 10px;
    margin: 1%;
    width: 21% ;
    position: relative;
    left: 5cm;
    float: left;
 }

 p::first-letter { 
     font-size: 180%;
     font-weight: bolder;
     color: red;
 }